{% extends 'base.html' %}

{% block content %}
 <div class="columns">
    {% for org in  organizers %}
    <div class="column is-12-tablet is-6-desktop is-4-widescreen">
         
    <article class="box">
        <div class="media">
            <aside class="media-left">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image"  width="80">
            </aside>
            
            <div class="media-content">
                <p class="title is-5 is-spaced is-marginless">
                    <a href="#">
                        {{ org.user.email }}
                    </a>
                    
                </p>
                <p class="subtitle is-marginless">
                  <h3>Phone Number  : {{ org.phone_number }} </h3>  
                </p>
                <div class="content is-small">
                    {{ org.description }}
                    <br>
                    {{ org.full_name }}
                </div>
            </div>
            
        </div>
    </article>
    </div>
    {% endfor %}
    </div>
    
    

  

{% endblock %}

